<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SFProText-Bold.otf</string>
		<string>SFProText-Light.otf</string>
		<string>SFProText-Medium.otf</string>
		<string>SFProText-Regular.otf</string>
		<string>SFProText-Semibold.otf</string>
		<string>SFProText-Thin.otf</string>
		<string>SFProText-Ultralight.otf</string>
		<string>Nunito-Black.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
